@using Microsoft.AspNetCore.Mvc.TagHelpers
@using BTCPayServer.Plugins.Boltz
@using BTCPayServer.Security
@model BTCPayServer.Components.MainNav.MainNavViewModel
@inject BoltzService BoltzService
@{
    var storeId = Context.GetImplicitStoreId();
    var (config, enabled) = BoltzService.GetPaymentConfig(Model.Store);
    var isAdmin = User.IsInRole(Roles.ServerAdmin);
    var settings = BoltzService.GetSettings(storeId);
    var name = $"Bitcoin (Boltz)";
}

@if (isAdmin && settings?.Mode != BoltzMode.Standalone && BoltzService.InternalLightning != null)
{
    <li class="nav-item">
        @if (config != null)
        {
            var status = enabled ? "enabled" : "pending";

            <a asp-area="" asp-controller="Boltz" asp-action="OnchainSettings" asp-route-storeId="@storeId" class="nav-link">
                <span class="me-2 btcpay-status btcpay-status--@status"></span>
                <span>@name</span>
            </a>
        }
        else
        {
            <a asp-area="" asp-controller="Boltz" asp-action="SetupMode" asp-route-storeId="@storeId" asp-route-flow="@SetupFlow.OnchainPayments" class="nav-link">
                <span class="me-2 btcpay-status btcpay-status--pending"></span>
                <span>@name</span>
            </a>
        }
    </li>
}