@using BTCPayServer.Abstractions.Extensions
@using BTCPayServer.Plugins.Boltz.Views
@model BTCPayServer.Plugins.Boltz.Models.BoltzData
@{
    ViewData.SetActivePage(BoltzNavPages.Index, "Boltz");

    //var shopifyCredsSet = Model?.GrpcUrl != "";
    var boltzCredsSet = Model?.Settings?.CredentialsPopulated() ?? false;
    var parsedModel = TempData.GetStatusMessageModel();
}

@if (parsedModel != null)
{
    <div class="alert alert-@parsedModel.SeverityCSS @(parsedModel.AllowDismiss ? "alert-dismissible" : "") @(ViewData["Margin"] ?? "mb-4") text-break" role="alert" v-pre>
        @if (parsedModel.AllowDismiss)
        {
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">
                <vc:icon symbol="close"/>
            </button>
        }
        @if (!string.IsNullOrEmpty(parsedModel.Message))
        {
            <span style="white-space: pre-wrap;">@parsedModel.Message</span>
        }
    </div>
}

<h1>@ViewData["Title"]</h1>

<p>
    Connected to @Model?.Info?.Version
</p>

<form method="post" id="boltzForm">
    <div class="form-group">
        <label asp-for="Settings.GrpcUrl" class="form-label"></label>
        <input asp-for="Settings.GrpcUrl" class="form-control" readonly="@boltzCredsSet"/>
        <span asp-validation-for="Settings.GrpcUrl" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Settings.Macaroon" class="form-label"></label>
        <input asp-for="Settings.Macaroon" class="form-control" readonly="@boltzCredsSet"/>
        <span asp-validation-for="Settings.Macaroon" class="text-danger"></span>
    </div>

    @if (boltzCredsSet)
    {
        <button name="command" type="submit" class="btn btn-danger" value="BoltzClearCredentials">
            Disconnect client
        </button>
    }
    else
    {
        <button name="command" type="submit" class="btn btn-primary" value="BoltzSaveCredentials">
            Save
        </button>
    }
</form>

@if (boltzCredsSet)
{
    <h3 class="mt-3">Autoswap</h3>

    <form method="post" id="autoswapForm">
        <div class="form-group d-flex align-items-center">
            <input asp-for="AutoSwapData.Enabled" id="PayJoinEnabled" type="checkbox" class="btcpay-toggle me-2"/>
            <label asp-for="AutoSwapData.Enabled" class="form-label mb-0 me-1"></label>
        </div>

        <div class="form-group">
            <label asp-for="AutoSwapData.MaxBalancePercent" class="form-label"></label>
            <input asp-for="AutoSwapData.MaxBalancePercent" class="form-control"></input>
            <span asp-validation-for="AutoSwapData.MaxBalancePercent" class="text-danger"></span>
        </div>

        <button name="command" type="submit" class="btn btn-success" value="BoltzSetAutoSwap">
            Save
        </button>
    </form>

    <section class="mt-3">
        <h5>Reverse Swaps</h5>
        <div class="invoice-payments table-responsive mt-0">
            <table class="table table-hover mb-0">
                <thead>
                <tr>
                    <th class="w-75px">ID</th>
                    <th class="w-75px">From</th>
                    <th class="w-75px">To</th>
                    <th class="w-175px">State</th>
                    <th class="text-nowrap">Status</th>
                    <th class="w-100px">Amount</th>
                </tr>
                </thead>
                <tbody>
                @foreach (var payment in Model.Swaps.ReverseSwaps)
                {
                    <tr >
                        <td>@payment.Id</td>
                        <td>@payment.Pair.From</td>
                        <td>@payment.Pair.To</td>
                        <td>@payment.State</td>
                        <td>@payment.Status</td>
                        <td>@payment.OnchainAmount</td>
                    </tr>
                }
                </tbody>
            </table>
        </div>
    </section>
}