@using AngleSharp.Common
@using BTCPayServer.Plugins.Boltz
@{
    Layout = "_LayoutWizard";
    var storeId = Context.GetCurrentStoreId();
}
@inject BoltzService BoltzService

@section PageHeadContent {
    @await RenderSectionAsync("PageHeadContent", false)
}

@section PageFootContent {
    @await RenderSectionAsync("PageFootContent", false)
}

@section Navbar {
    @await RenderSectionAsync("Navbar", false)

    @if (BoltzService.GetSettings(storeId) != null)
    {
        <a asp-controller="Boltz" asp-action="Info" asp-route-storeId="@storeId" class="cancel">
            <vc:icon symbol="close"/>
        </a>
    }
    else
    {
        <a asp-controller="UIStores" asp-action="Dashboard" asp-route-storeId="@storeId" class="cancel">
            <vc:icon symbol="close"/>
        </a>
    }
}

<header class="text-center">
    <h1>@ViewData["Title"]</h1>
    @if (ViewData.TryGetValue("Description", out var description))
    {
        <p class="text-secondary mt-3">@description</p>
    }
</header>

@RenderBody()

<vc:ui-extension-point location="onchain-wallet-setup-post-body" model="@Model"/>