@using BTCPayServer.Plugins.Boltz
@using BTCPayServer.Plugins.Boltz.Views
@model BTCPayServer.Plugins.Boltz.Models.AdminModel
@inject BoltzDaemon Daemon
@{
    ViewData.SetActivePage(BoltzNavPages.Admin, "Admin");
}

<form method="post">
    <div class="d-flex gap-3 mt-3 mt-sm-0 mb-3">
        <button name="command" type="submit" value="Start" class="btn btn-secondary">
            @(Daemon.Running ? "Restart" : "Start")
        </button>
    </div>

    @if (Daemon.HasError)
    {
        <div class="alert alert-danger">
            Boltz Client not running: @Daemon.Error
        </div>
        <pre style="max-height: 25rem;">@Daemon.RecentOutput</pre>
    }
    else if (Daemon.Running && Model.Info != null)
    {
        <p>
            Running Boltz Client @Model.Info.Version
        </p>

        @if (Model.Info.Node != "standalone")
        {
            <p>
                Connected to @Model.Info.Node (@Model.Info.NodePubkey)
            </p>
        }
    }

    <div class="form-group d-flex align-items-center">
        <input asp-for="ServerSettings.AllowTenants" type="checkbox" class="btcpay-toggle me-2"/>
        <label asp-for="ServerSettings.AllowTenants" class="form-label mb-0 me-1"></label>
    </div>

    <div class="form-group d-flex align-items-center">
        <input asp-for="ServerSettings.ConnectNode" type="checkbox" class="btcpay-toggle me-2"/>
        <label asp-for="ServerSettings.ConnectNode" class="form-label mb-0 me-1"></label>
    </div>

    @if (Model.ServerSettings?.ConnectNode ?? false)
    {
        var hasNodeError = Daemon.NodeError != null;
        <div>
            <button class="d-inline-flex mb-3 align-items-center btn btn-link fw-semibold p-0 @(hasNodeError ? "text-danger" : "")" type="button" data-bs-toggle="collapse" data-bs-target="#NodeConfig" aria-expanded="@(hasNodeError ? "true" : "false")" aria-controls="NodeConfig">
                <vc:icon symbol="caret-down"/>
                <span class="ms-1">Node Config</span>
            </button>
            <div id="NodeConfig" class="collapse @(hasNodeError ? "show" : "")">
                @if(hasNodeError) {
                    <pre style="max-height: 25rem">@Daemon.NodeError</pre>
                }

                @if (Model.ServerSettings?.NodeConfig?.Cln != null)
                {
                    <div class="form-group">
                        <label asp-for="ServerSettings.NodeConfig.Cln.Port" class="form-label"></label>
                        <input asp-for="ServerSettings.NodeConfig.Cln.Port" class="form-control "></input>
                        <span asp-validation-for="ServerSettings.NodeConfig.Cln.Port" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="ServerSettings.NodeConfig.Cln.DataDir" class="form-label"></label>
                        <input asp-for="ServerSettings.NodeConfig.Cln.DataDir" class="form-control "></input>
                        <span asp-validation-for="ServerSettings.NodeConfig.Cln.DataDir" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="ServerSettings.NodeConfig.Cln.Host" class="form-label"></label>
                        <input asp-for="ServerSettings.NodeConfig.Cln.Host" class="form-control "></input>
                        <span asp-validation-for="ServerSettings.NodeConfig.Cln.Host" class="text-danger"></span>
                    </div>
                }

                @if (Model.ServerSettings?.NodeConfig?.Lnd != null)
                {
                    <div class="form-group">
                        <label asp-for="ServerSettings.NodeConfig.Lnd.Host" class="form-label"></label>
                        <input asp-for="ServerSettings.NodeConfig.Lnd.Host" class="form-control "></input>
                        <span asp-validation-for="ServerSettings.NodeConfig.Lnd.Host" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="ServerSettings.NodeConfig.Lnd.Port" class="form-label"></label>
                        <input asp-for="ServerSettings.NodeConfig.Lnd.Port" class="form-control "></input>
                        <span asp-validation-for="ServerSettings.NodeConfig.Lnd.Port" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="ServerSettings.NodeConfig.Lnd.Macaroon" class="form-label"></label>
                        <input asp-for="ServerSettings.NodeConfig.Lnd.Macaroon" class="form-control "></input>
                        <span asp-validation-for="ServerSettings.NodeConfig.Lnd.Macaroon" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="ServerSettings.NodeConfig.Lnd.Certificate" class="form-label"></label>
                        <input asp-for="ServerSettings.NodeConfig.Lnd.Certificate" class="form-control "></input>
                        <span asp-validation-for="ServerSettings.NodeConfig.Lnd.Certificate" class="text-danger"></span>
                    </div>
                }
            </div>
        </div>
    }


    <button name="command" type="submit" class="btn btn-primary mb-4" value="Save">
        Save
    </button>

    @if (Model is not null)
    {
        <h4>Logs</h4>

        <ul class="list-unstyled">
            @foreach (var file in Model.Log.LogFiles)
            {
                <li>
                    <a asp-action="Admin" asp-route-logFile="@file.Name" asp-route-offset="@Model.Log.LogFileOffset">@file.Name</a>
                    <a asp-action="Admin" asp-route-logFile="@file.Name" asp-route-offset="@Model.Log.LogFileOffset" asp-route-download="true" class="mx-2">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-download" viewBox="0 0 16 16">
                            <path d="M.5 9.9a.5.5 0 0 1 .5.5v2.5a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1v-2.5a.5.5 0 0 1 1 0v2.5a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2v-2.5a.5.5 0 0 1 .5-.5"/>
                            <path d="M7.646 11.854a.5.5 0 0 0 .708 0l3-3a.5.5 0 0 0-.708-.708L8.5 10.293V1.5a.5.5 0 0 0-1 0v8.793L5.354 8.146a.5.5 0 1 0-.708.708z"/>
                        </svg>
                    </a>
                </li>
            }
        </ul>

        <nav aria-label="..." class="w-100">
            <ul class="pagination float-start">
                <li class="page-item @(Model.Log.LogFileOffset == 0 ? "disabled" : null)">
                    <a class="page-link" asp-action="Admin" asp-route-offset="@(Model.Log.LogFileOffset - 5)">&laquo;</a>
                </li>
                <li class="page-item disabled">
                    <span class="page-link">Showing @Model.Log.LogFileOffset - (@(Model.Log.LogFileOffset + Model.Log.LogFiles.Count)) of @Model.Log.LogFileCount</span>
                </li>
                <li class="page-item @((Model.Log.LogFileOffset + Model.Log.LogFiles.Count) < Model.Log.LogFileCount ? null : "disabled")">
                    <a class="page-link" asp-action="Admin" asp-route-offset="@(Model.Log.LogFileOffset + Model.Log.LogFiles.Count)">&raquo;</a>
                </li>
            </ul>
        </nav>

        @if (!string.IsNullOrEmpty(Model.Log.Log))
        {
            <br/>
            <br/>
            <br/>
            <pre>@Model.Log.Log</pre>
        }
    }
</form>
