@using BTCPayServer.Security
@using Microsoft.AspNetCore.Mvc.TagHelpers
@using BTCPayServer.Plugins.Boltz
@using BTCPayServer.Plugins.Boltz.Models
@using Boltzrpc
@using BTCPayServer.Services
@model BTCPayServer.Plugins.Boltz.Models.WalletSetup
@inject PoliciesSettings PoliciesSettings
@inject BoltzService BoltzService
@{
    Layout = "_LayoutSetup";
    var routeData = Model.RouteData;
    ViewData["Title"] = $"Setup {BoltzClient.CurrencyName(Model.Currency!.Value)} Wallet";
    ViewData["Description"] = Model.Flow switch
    {
        WalletSetupFlow.Chain => "Your mainchain BTC will be sent to this wallet",
        WalletSetupFlow.Standalone => "Select the wallet to be used for receiving lightning payments",
        WalletSetupFlow.Lightning => "Select the wallet to be used for rebalancing your channels",
        _ => "",
    };
}

@if (Model.ExistingWallets.Count > 0)
{
    @foreach (var wallet in Model.ExistingWallets)
    {
        <form asp-controller="Boltz" asp-action="SetupWallet" asp-all-route-data="@routeData" class="mt-4" method="post">
            <div class="list-group">
                <input asp-for="@Model.WalletName" type="hidden" value="@wallet.Name"/>
                <button type="submit" class="list-group-item list-group-item-action">
                    <div class="image my-auto">
                        <vc:icon symbol="existing-wallet"/>
                    </div>
                    <div class="content">
                        <h4>@wallet.Name</h4>
                        <p class="mb-0 text-secondary">Balance: @wallet.Balance satoshi @(wallet.IsReadonly ? "(Readonly)" : "")</p>
                    </div>
                    <vc:icon symbol="caret-right"/>
                </button>
            </div>
        </form>
    }

    <br/>
}


<div class="mt-4">
    <div class="list-group">
        <a asp-controller="Boltz" asp-action="ImportWallet" asp-all-route-data="@routeData" class="list-group-item list-group-item-action">
            <div class="image">
                <vc:icon symbol="existing-wallet"/>
            </div>
            <div class="content">
                <h4>Import a wallet</h4>
                <p class="mb-0 text-secondary">Import an existing hardware or software wallet</p>
            </div>
            <vc:icon symbol="caret-right"/>
        </a>
    </div>
</div>

<div class="mt-4">
    <div class="list-group">
        <a asp-controller="Boltz" asp-action="CreateWallet" asp-all-route-data="@routeData" class="list-group-item list-group-item-action @(!Model.AllowCreateHot ? "disabled" : "")">
            <div class="image">
                <vc:icon symbol="new-wallet"/>
            </div>
            <div class="content">
                <h4>Create a new wallet</h4>
                <div class="d-flex flex-column gap-2">
                    <p class="mb-0 text-secondary">Generate a brand-new wallet to use</p>
                    @if (!Model.AllowCreateHot)
                    {
                        <small class="d-block text-danger mt-2 mt-lg-0">Disabled by admin</small>
                    }
                </div>
            </div>
            <vc:icon symbol="caret-right"/>
        </a>
    </div>
</div>