@using BTCPayServer.Security
@using Microsoft.AspNetCore.Mvc.TagHelpers
@using BTCPayServer.Plugins.Boltz.Models
@{
    Layout = "_LayoutSetup";
    var storeId = Context.GetImplicitStoreId();
}

<header class="text-center">
    <h1>Select your rebalancing mode</h1>
    <p class="text-secondary my-2">
        You can use Boltz to optimally rebalance your node for a variety of use cases.
    </p>
</header>

<div class="mt-4">
    <div class="list-group">
        <a asp-controller="Boltz" asp-action="SetupWallet" asp-route-flow="@WalletSetupFlow.Lightning" asp-route-storeId="@storeId" asp-route-swapType="reverse" class="list-group-item list-group-item-action">
            <div class="image">
                <vc:icon symbol="existing-wallet"/>
            </div>
            <div class="content d-flex flex-column flex-lg-row align-items-lg-center justify-content-lg-between me-2">
                <div>
                    <h4>Guarantee Inboundg Liquidity</h4>
                    <p class="mb-0 text-secondary">Upload a file exported from your wallet</p>
                </div>
                <small class="d-block text-primary mt-2 mt-lg-0">Popular</small>
            </div>
            <vc:icon symbol="caret-right"/>
        </a>
    </div>
</div>

<div class="mt-4">
    <div class="list-group">
        <a asp-controller="Boltz" asp-action="SetupWallet" asp-route-flow="@WalletSetupFlow.Lightning" asp-route-storeId="@storeId" asp-route-swapType="normal" class="list-group-item list-group-item-action">
            <div class="image">
                <vc:icon symbol="new-wallet"/>
            </div>
            <div class="content">
                <h4>Normal</h4>
                <p class="mb-0 text-secondary">This sets up Lightning Payments using Boltz. Lightning payments are processed using non-custodial swaps, meaning you stay in full control at all times. Supports read-only cold wallets.</p>
            </div>
            <vc:icon symbol="caret-right"/>
        </a>
    </div>
</div>

<div class="mt-4">
    <div class="list-group">
        <a asp-controller="Boltz" asp-action="SetupWallet" asp-route-flow="@WalletSetupFlow.Lightning" asp-route-storeId="@storeId" class="list-group-item list-group-item-action">
            <div class="image">
                <vc:icon symbol="new-wallet"/>
            </div>
            <div class="content">
                <h4>Both</h4>
                <p class="mb-0 text-secondary">This sets up Lightning Payments using Boltz. Lightning payments are processed using non-custodial swaps, meaning you stay in full control at all times. Supports read-only cold wallets.</p>
            </div>
            <vc:icon symbol="caret-right"/>
        </a>
    </div>
</div>