@using BTCPayServer.Plugins.Boltz
@using BTCPayServer.Plugins.Boltz.Models
@using BTCPayServer.Security
@using Boltzrpc
@model BTCPayServer.Plugins.Boltz.Models.BoltzInfo
@inject BoltzService BoltzService
@{
    ViewData.SetActivePage("Boltz", "Status", "Status");

    var storeId = Context.GetImplicitStoreId();

    var settings = BoltzService.GetSettings(storeId);

    var chainRecommendation = Model.Recommendations?.Chain.FirstOrDefault();
}

<div class="d-flex flex-column gap-3">
    @if (Model.Status is not null)
    {
        @if (Model.Ln is not null)
        {
            var ln = new AutoSwapStatus { Name = "Lightning", Status = Model.Status.Lightning };
            <div class="widget d-flex gap-3 flex-column">
                <partial name="Boltz/_AutoSwapStatus" model="ln"/>
                <div>
                    <h5>Recommendations</h5>
                    <partial name="Boltz/_LightningRecommendations" model="Model.Recommendations!.Lightning"></partial>
                </div>

                @if (Model.Ln.SwapType != "normal")
                {
                    var fees = new FeesModel { Pair = new Pair { From = Currency.Btc, To = Model.Ln.Currency }, SwapType = SwapType.Reverse };
                    <div>
                        <h5>Reverse Swap Info</h5>
                        <partial name="Boltz/_Fees" model="fees"/>
                    </div>
                }

                @if (Model.Ln.SwapType != "reverse")
                {
                    var fees = new FeesModel { Pair = new Pair { From = Model.Ln.Currency, To = Currency.Btc }, SwapType = SwapType.Submarine };
                    <div>
                        <h5>Submarine Swap Info</h5>
                        <partial name="Boltz/_Fees" model="fees"/>
                    </div>
                }
            </div>
        }

        @if (chainRecommendation is not null)
        {
            var chain = new AutoSwapStatus
            {
                Name = "Chain", Status = Model.Status.Chain, Stats = new List<Stat>
                {
                    new() { Name = "From Wallet Balance", Value = chainRecommendation.WalletBalance.Confirmed, Unit = Unit.Sat },
                }
            };
            var fees = new FeesModel { Pair = new Pair { From = Currency.Lbtc, To = Currency.Btc }, SwapType = SwapType.Chain };

            <div class="widget d-flex gap-3 flex-column">
                <partial name="Boltz/_AutoSwapStatus" model="chain"/>
                @if (chainRecommendation.Swap is not null)
                {
                    <div>
                        <h5>Upcoming Swap</h5>
                        <partial name="Boltz/_ChainRecommendations" model="chainRecommendation.Swap"/>
                    </div>
                }
                <div>
                    <h5>Swap Info</h5>
                    <partial name="Boltz/_Fees" model="fees"/>
                </div>
            </div>
        }
    }
    @if (settings?.Mode == BoltzMode.Standalone && Model.Stats is not null)
    {
        <div class="widget">
            <div class="d-flex flex-column gap-2">
                <h4>Total Swap Stats</h4>
                <partial name="Boltz/_Stats" model="BoltzClient.ParseStats(Model.Stats)"/>
            </div>
        </div>
        <div class="widget">
            <div class="d-flex flex-column gap-2">
                <h4>Current Pair Info</h4>
                <partial name="Boltz/_Fees" model="FeesModel.Standalone"/>
            </div>
        </div>
    }

    @if (Model.Swaps is not null)
    {
        var swaps = Model.Swaps;
        var reverseSwaps = swaps.ReverseSwaps.ToList()
            .Select(info => (info.Id, Type: SwapType.Reverse, info.Pair, info.State, info.Status, Amount: (ulong)info.OnchainAmount, info.CreatedAt)).ToList();
        var normal = swaps.Swaps.ToList()
            .Select(info => (info.Id, Type: SwapType.Submarine, info.Pair, info.State, info.Status, Amount: info.ExpectedAmount, info.CreatedAt));
        var chain = swaps.ChainSwaps.ToList()
            .Select(info => (info.Id, Type: SwapType.Chain, info.Pair, info.State, info.Status, info.FromData.Amount, info.CreatedAt));
        reverseSwaps.AddRange(normal);
        reverseSwaps.AddRange(chain);
        reverseSwaps.Sort((a, b) => b.CreatedAt.CompareTo(a.CreatedAt));

        @if (reverseSwaps.Count > 0)
        {
            <div class="widget">
                <h4>Swaps</h4>
                <div class="table-responsive mt-0">
                    <table class="table table-hover mb-0">
                        <thead>
                        <tr>
                            <th class="text-nowrap">ID</th>
                            <th>Type</th>
                            <th>From</th>
                            <th>To</th>
                            <th>Date</th>
                            <th>State</th>
                            <th class="text-nowrap">Status</th>
                            <th>Amount</th>
                        </tr>
                        </thead>
                        <tbody>
                        @foreach (var payment in reverseSwaps)
                        {
                            <tr>
                                <td>@payment.Id</td>
                                <td>@payment.Type</td>
                                <td>@BoltzClient.CurrencyName(payment.Pair.From)</td>
                                <td>@BoltzClient.CurrencyName(payment.Pair.To)</td>
                                <td>@(DateTimeOffset.FromUnixTimeSeconds(payment.CreatedAt).ToBrowserDate())</td>
                                <td>@payment.State</td>
                                <td>@payment.Status</td>
                                <td>@payment.Amount</td>
                            </tr>
                        }

                        </tbody>
                    </table>
                </div>
            </div>
        }
    }
</div>